<div class="event-menu">
    <h3>Add New Event</h3>
    <form action="">
        <div class="form-group">
            <label for="event-name">Event Name</label>
            <input type="text" class="form-control" id="event-name" />
        </div>
        <div class="form-group">
            <label for="event-data">Due Date</label>
            <input type="date" class="form-control" id="event-date" />
        </div>
        <button type="submit" class="btn btn-primary">Add Event</button>
    </form>
</div>