.container.wide-container {
    max-width: 1200px;
    padding: 40px;
  }
  
h3 {
  text-align: center;
}

.card {
  margin: 15px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.list-group-item {
  padding: 15px 20px;
}

.alert {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.btn-block {
  border-color: lightslategray;
  background-color: lightslategray;
  width: 100%;
}

.event-title {
  cursor: pointer;
  color:darkslategrey;
}

.event-title:hover {
  text-decoration: underline;
}  