:root {
    --theme-color: #93E1D8;
}

body {
    background-color: var(--theme-color);
    font-family: 'Roboto';
}

.page-container {
    margin: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}