.theme-selector {
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .color-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s ease, border-color 0.3s ease;
  }
  
  .color-btn:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
  }
  