<div class="d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <form class="p-4 border shadow custom-form" (ngSubmit)="handleSubmit()">
  
      <div class="form-outline mb-4">
        <input type="email" [(ngModel)]="email" name="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
  
      <div class="form-outline mb-4">
        <input type="password" [(ngModel)]="password" name="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
  
      <div class="text-center mb-4">
        <button type="submit" class="btn btn-primary">{{ isRegisterMode ? 'Register' : 'Sign in' }}</button>
      </div>
  
      <div class="text-center">
        <p>
          {{ isRegisterMode ? 'Already have an account?' : 'Not a member?' }} 
          <a href="javascript:void(0)" (click)="toggleMode()">
            {{ isRegisterMode ? 'Sign in' : 'Register' }}
          </a>
        </p>
      </div>
      
    </form>
</div>